<!-- <div class="container">
  <div class="row">
    <div class=".col-3">
      <div class="material cn">
        <ngx-datatable style="border-color:#600080;border-radius:10px;" [count]=8 [limit]="5" [headerHeight]="50"
          [rowHeight]="50" [footerHeight]="50" class="material container" [rows]="rows" [columns]="columns">

        </ngx-datatable>
      </div>
    </div>
    <div class=".col-3">
      <app-create-task></app-create-task>
    </div>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row">
    
      <div class="col-8 main">
        <ngx-datatable style="border-color:#600080;border-radius:10px;" [count]=8 [limit]="5"
          [headerHeight]="50" [rowHeight]="50" [footerHeight]="50" class="material container" [rows]="rows"
          [columns]="columns">
         <ngx-datatable-column name="Task Name" [width]="120" prop="TaskName">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              {{value}}
            </ng-template>
          </ngx-datatable-column>
           <ngx-datatable-column name="Task Status" [width]="120"prop='TaskStatus'>
            <ng-template  let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Assign Task" [width]="120" prop='AssignStatus'>
            <ng-template  let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Task Description" [width]="120"prop='TaskDescription'>
            <ng-template  let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Task Start Date" [width]="120"prop='TaskStartDate'>
            <ng-template  let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Task End Date" [width]="140"prop='TaskEndDate'>
            <ng-template  let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column> 
        
      
        </ngx-datatable>

        
      </div>
    
    <div class="col-4 side">
      <app-create-task (newItemEvent)="sampleMethod($event)"></app-create-task>
    </div>
  </div>
</div>

