<section class="vh-100 gradient-custom cn ">
    <div class="container py-5 ">
        <div class="d-flex justify-content-center align-items-center h-100">
            <!-- <div class="col-12 col-md-8 col-lg-6 col-xl-5">  -->
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body ">



                    <h2 class="fw-bold mb-0 text-uppercase text-center">Create Task</h2>
                    <p class="text-white-50 mb-0 text-center">Enter Your Task Details</p>
                    <form [formGroup]="taskForm">
                        <div class="form-group  form-white  fw-bold">
                            <label class="form-label mb-0 " for="typeEmailX">Task Name</label>
                            <input type="text" id="typeEmailX" class="form-control " placeholder="Task Name"
                                formControlName="TaskName" />
                            <div class="error"
                                *ngIf="taskForm.get('TaskName')?.invalid && taskForm.get('TaskName')?.touched">
                                <div *ngIf="taskForm.get('TaskName')?.errors?.['required']">Task Name is
                                    required</div>

                            </div>
                        </div>

                        <div class="form-group  form-white mb-0 fw-bold">
                            <label class="form-label" for="typePasswordX">Task Status</label>

                            <select class="form-control " formControlName="TaskStatus" name="" id="tstatus">
                                <option value="" disabled selected hidden>Choose City...
                                <option></option>
                                <option value="To-do">To-do</option>
                                <option value="In-progress">In-progress</option>
                                <option value="Pending">Pending</option>
                                <option value="Blocked">Blocked</option>
                                <option value="Completed">Completed</option>
                                <option value="Cancelled">Cancelled</option>
                            </select>
                            <div class="error"
                                *ngIf="taskForm.get('TaskStatus')?.invalid && taskForm.get('TaskStatus')?.touched">
                                <div *ngIf="taskForm.get('TaskStatus')?.errors?.['required']">Select Task
                                    Status</div>
                            </div>

                        </div>
                        <div class="form-group  form-white mb-0 fw-bold">
                            <label class="form-label" for="tstatus">Assign Task</label>

                            <select class="form-control " formControlName="AssignStatus" name="" id="tstatus">
                                
                                <option *ngFor="let emp of employees" value={{emp.name}>{{emp.name}}</option>
                                
                            </select>
                            <div class="error"
                                *ngIf="taskForm.get('AssignStatus')?.invalid && taskForm.get('AssignStatus')?.touched">
                                <div *ngIf="taskForm.get('AssignStatus')?.errors?.['required']">Select Assign
                                    Status</div>
                            </div>

                        </div>
                        <div class="form-group  form-white mb-0 fw-bold">
                            <label class="form-label " for="typeEmailX">Task Description</label>
                                <textarea name="" id="" cols="30" rows="2" id="typeEmailX" class="form-control " placeholder="Task Description"
                                formControlName="TaskDescription"></textarea>
                            <div class="error"
                                *ngIf="taskForm.get('TaskDescription')?.invalid && taskForm.get('TaskDescription')?.touched">
                                <div *ngIf="taskForm.get('TaskDescription')?.errors?.['required']">Task Name is
                                    required</div>

                            </div>
                        </div>
                        <div class="form-group form-white mb-0 fw-bold">
                            <label class="form-label " for="typeEmailX">Task Start Date</label>
                            <input type="date" id="typeEmailX" class="form-control " formControlName="TaskStartDate"
                                min="yyyy-01-01" max="yyyy-12-31" />
                            <div class="error"
                                *ngIf="taskForm.get('TaskStartDate')?.invalid && taskForm.get('TaskStartDate')?.touched">
                                <div *ngIf="taskForm.get('TaskStartDate')?.errors?.['required']">Task Start Date is
                                    required</div>

                            </div>
                        </div>
                        <div class="form-group  form-white mb-0 fw-bold">
                            <label class="form-label " for="typeEmailX">Task End Date</label>
                            <input type="date" id="typeEmailX" class="form-control " placeholder="Task End Date"
                                formControlName="TaskEndDate" min="yyyy-01-01" max="yyyy-12-31" />
                            <div class="error"
                                *ngIf="taskForm.get('TaskEndDate')?.invalid && taskForm.get('TaskEndDate')?.touched">
                                <div *ngIf="taskForm.get('TaskEndDate')?.errors?.['required']">Task End Date is
                                    required</div>

                            </div>
                        </div>

                    </form>

                    <button class="btn btn-outline-light   " data-bs-toggle="modal" data-bs-target="#exampleModal"
                        (click)="createTask()" [disabled]="taskForm.invalid" type="submit">Submit</button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h1>
                                        <p class="message">Successfully Task Created
                                    </h1>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</section>